# dependencies
node_modules/

# Expo
.expo/
dist/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# editor
.vscode/*
!.vscode/extensions.json
